<div id="carrier-logos">
  <div class="row">
    <div class="col-sm-12 hidden-xs">
      <ul>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
        <li>
          <%= image_tag('logo.png') %>
        </li>
      </ul>
    </div>
  </div>
</div>